* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(97, 97, 236);
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
div#box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 5px 5px 15px black;
}
select {
    width: 50%;
}
p {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: white;
}